#container {
	display: block;
	width: 100%;
	color: white;


}

.loginForm {
	display: block;
    background: #0C0032;
    width: 230px;
	margin-top: calc(20% - (200px / 2));
    margin-left: calc((50% - (230px / 2)) - 5px);
	border-radius: 10px;
    padding: 10px;
    height: 180px;
    min-width: 230px;

}

.formItem {
	display: block;
	align-items: center;
	margin: 10px 5%;

}

.loginFooter {
	font-size: .8em;

}
