.service-card {
	/* display: inline-block;
	height: 70px;
	width: calc(50% - 50px); */
	padding: 10px;
	border: 1px solid #0c0032;
	background: #0c0032;


}

.service-card-link {
	color: white !important;
	text-decoration: none;

}

.service-card-link:active {
	color: inherit;

}

.service-card-link:hover {
	color: inherit;

}

.host-nav {
	background: #240090;
	color: white;
    display: flex;

}

.host-nav > a {
	color: white !important;
	text-decoration: none;
	flex: auto;
	text-align: center;

}

.host-nav > a:hover {
	color: white !important;
	background: #3500d3;

}

.active {
	background: #3500d3;

}

.hidden {
	display: none;

}

.data-widget {
	padding: 5px;
    background: #3500d3;

	h3 {
    	margin: 2.5px;
		
	}

}

/*
cols:
#0C0032
#190061
#240090
#3500D3
#282828
*/
