html {
	background: #282828;
	color: white;

}

input {
	border-radius: 5px;
    border: 1px solid #ffffffff;
    padding: 5px;
    background: white;
    color: black;

}

input:focus {
	border-radius: 5px;
    border: 1px solid #3500D3;
    padding: 5px;
    background: white;
	color: black;

}

#container {
	display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    flex-direction: row;
	position: absolute;

}

.sidebar {
	background: #3500D3;
	width: 20%;
	order: 1;
	height: 100%;
	min-height: 100%;

}

.mainContent {
	order: 2;
	flex: 1;
	overflow-y: auto;

}

.secondaryContent {
	order: 3;
	flex: 1;
	overflow-y: auto;

}


/* Scroll bar */
::-webkit-scrollbar {
	width: 10px;

}

::-webkit-scrollbar-track {
	background: #404040;

}

::-webkit-scrollbar-thumb {
	background: #b7b7b7;
	border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
	background: #555;

}
