html {
	background: #282828;
	color: white;

}

input {
	border-radius: 5px;
    border: 1px solid #ffffffff;
    padding: 5px;
    background: white;
    color: black;

}

input:focus {
	border-radius: 5px;
    border: 1px solid #3500D3;
    padding: 5px;
    background: white;
	color: black;

}

.sidebar {
	background: #3500D3;
	width: 20%;
	display: block;
	height: 100%;
	/* min-height: 100%; */
	position: fixed;

}

.mainContent {
	left: 20%;
	display: block;
	position: absolute;
	width: calc(80% - 20px);
	height: 100%;
	padding: 10px;

}
